/*
  # projectdetail #
*/

// * imports *
@import '../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.projectdetail {
  padding-top: 80px; // * 80px is height of sticky header *

  &_heading {
    color: $tealDark;
    margin-bottom: 10px;
  }
  &_subheading {
    font-weight: 400;
    min-height: 78px;
  }
  &_subheadingJob {
    font-weight: 300;
  }
  &_content {
    padding-bottom: 30px;
  }
  &_titleSection {
    padding: 60px 0 45px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small 484px & Up (min-width: 484px)
=================================================== */

@media screen and (min-width: 484px) {

  .projectdetail {

    &_subheading {
      min-height: auto;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 484px)
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {
  
  .projectdetail {
    padding-top: 86px; // * height of sticky header *
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .projectdetail {
    padding-top: 92px; // * 92px is height of sticky header *

    &_content {
      padding-bottom: 0;
    }
    &_titleSection {
      padding: 80px  0 55px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
