/*** header ***/

/* imports */
@import '../../../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.header {
  padding: 15px 0;
  
  &_link {
    display: block;

    svg {
      display: block;
    }
    svg path {
      transition: fill $transitionDefault,
                  stroke $transitionDefault;
    }

    &:hover,
    &:focus {

      svg path:first-child,
      svg path:last-child {
        fill: $tealDark !important;
      }
      svg path:nth-child(2) {
        stroke: $tealDark !important;
      }
    }
  }
  &_logo {
    margin: 0 auto;
    width: 80px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .header {

    &_logo {
      width: 100px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
