/* 
  # trading card #
*/

// * imports *
@import '../../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.tradingcard {
  
  &_back,
  &_front {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  &_back {
    background-color: red;
    transform: rotateY(180deg);
  }
  &_card,
  &_link {
    height: 100%;
    width: 100%;
  }
  &_card {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform $transitionDefault;
  }
  &_container {
    height: 350px;
    perspective: 1000px;
    position: relative;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
  }
  &_front {
    background-color: blue;
  }
  &_helpertext {
    padding-bottom: 40px;
    text-align: center;
  }
  &_link {
    display: block;
  }
  &_link___flipped {
    
    .tradingcard_card {
      transform: rotateY(-180deg);
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .tradingcard {

    &_container {
      height: 500px;
      max-width: 357px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
