/*
  # backgroundvideo #
*/

// * imports *
@import '../../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.backgroundvideo {
  position: static;

  &_heading,
  &_image,
  &_video {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  &_image,
  &_video {
    height: 100%;
    object-fit: cover;
    top: 50%;
    width: 100%;
  }
  &_image {
    display: none; // * only display image on iOS devices bc they don't support autoplay *
  }
  &_heading {
    top: 20px;
    font-weight: 400;
    z-index: 1;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */



/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
