/*** appmenu ***/

/* imports */
@import '../../../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.appmenu {
  
  &_grid {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }
  &_listItem {
    padding: 0;
    width: 100%;
  }
  &_listItemButton {
    padding: 10px 25px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .appmenu {

    &_listItemButton {
      padding: 10px 45px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
