/*** footer ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.footer {
  background-color: $white;
  box-shadow: 0px 2px 4px -1px rgba($blackPure, 0.2), 0px 4px 5px 0px rgba($blackPure, 0.14), 0px 1px 10px 0px rgba($blackPure, 0.12);
  overflow: hidden;
  padding: 40px 0 60px;
  position: relative;

  &_heading {
    padding-left: 30px;
  }
  &_logo {
    bottom: 0;
    position: absolute;
    right: 0;
  }
  &_social {
    padding-left: 20px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .footer {

    &_logo {
      bottom: -50px;
      position: absolute;
      right: -80px;
      width: 360px;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .footer {
    padding: 40px 0 60px;

    &_heading,
    &_social {
      padding-left: 0;
    }
    &_heading {
      padding-bottom: 10px;
      text-align: center;
    }
    &_logo {
      bottom: -60px;
      right: -80px;
      width: 400px;
    }
    &_social {
      padding-top: 15px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
