/*
 # app header #
*/

// * imports *
@import '../../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.appheader {
  background-color: $white;
  padding: 5px 0;
  
  &_grid {
    align-items: center;
  }
  &_link {
    background-color: transparent;
    border-radius: 100%;
    display: block;
    padding: 10px;
    transition: background-color $transitionDefault;

    svg {
      display: block;
    }

    &:hover,
    &:focus {
      background-color: rgba(0,0,0,0.04);
    }
  }
  &_logo {
    margin: 0 auto;
    width: 100px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .appheader {

    &_logo {
      width: 110px;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .appheader {

    &_logo {
      width: 120px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
