/*** backToTop ***/

/* imports */
@import '../../../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.backToTop {
  bottom: 16px;
  font-size: inherit;
  position: fixed;
  right: 16px;
  z-index: 1;
  
  &_icon {
    fill: $white;

    &:hover,
    &:focus {
      fill: $white;
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */



/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
