/*** carousel ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.carousel {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 94%;
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .carousel {
    margin: 0 7%;
    padding-bottom: 0;
    width: 86%;
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .carousel {
    margin: 0 0 0 10%;
    padding-bottom: 0;
    width: 90%;
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
