/*** carouselArrow ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.carouselArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 39%;
  z-index: 1;

  &_icon {
    fill: $white;

    &:hover {
      fill: $white;
    }
  }

  &___next {
    right: -35px;
  }
  &___prev {
    left: -35px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .carouselArrow {

    &___next {
      right: -30px;
    }
    &___prev {
      left: -30px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {

  .carouselArrow {

    &___next {
      right: -35px;
    }
    &___prev {
      left: -35px;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
