/* 
  # carousel #
*/

// * imports *
@import '../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.carousel {
  margin: 0 auto;
  padding-bottom: 0;
  width: 100%;

  &_arrow {
    background-color: transparent;
    border: 2px solid transparent;
    color: transparent;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    top: 87%;
    transition: border $transitionDefault;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: transparent;
      border: 2px solid $white;
    }
  
    &___next {
      right: -20px;
    }
    &___prev {
      left: -20px;
    }
  }
  &_arrowIcon {
    fill: $white;

    &:hover {
      fill: $white;
    }

    &___prev {
      transform: translateX(5px);
    }
  }
  &_image,
  &_video {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  &_link {
    position: relative;
    z-index: 1;
  }
  &_notSupported {
    color: $white;
  }
  &_video {
    cursor: pointer;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Screens 442px & Up
=================================================== */

@media screen and (min-width: 442px) {

  .carousel {

    &_arrow {
      top: 90%;
    }
  }
}

/* ===================================================
  END Screens 442px & Up
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .carousel {

    &_arrow {
      top: 95%;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */

/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .carousel {

    &_arrow {
      top: 50%;
      transform: translateY(-50%);

      &___next {
        right: -55px;
      }
      &___prev {
        left: -55px;
      }
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
