/* 
  # lab detail #
*/

// * imports *
@import '../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.labdetail {
  
  &_description {
    background-color: $offWhite;
    padding: 60px 0;
  }
  &_heading {
    color: $white;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    text-shadow: rgba(33, 33, 33, 0.65) 2px 2px 10px;
    z-index: 1;
  }
  &_hero {
    position: relative;
  }
  &_heroBg,
  &_heroGradient {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &_heroBg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &_heroContainer {
    padding: 100px 0;
  }
  &_heroGradient {
    background-color: rgba($color: $charcoal, $alpha: 0.4);
  }
  &_item {
    background-color: $white;
  }
  &_section {
    padding-top: 80px; // * 80px is height of sticky header *
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {
  
  .labdetail {

    &_section {
      padding-top: 86px; // * height of sticky header *
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .labdetail {

    &_description {
      padding: 80px 0;
    }
    &_heroContainer {
      padding: 120px 0;
    }
    &_section {
      padding-top: 92px; // * 92px is height of sticky header *
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
