/*** base ***/

/* imports */
@import '../vars';

/* ===================================================
  All Screen Sizes
=================================================== */

a {
  color: $teal;
  transition: color $transitionDefault;

  &:hover,
  &:focus {
    color: $tealDark;
  }
  &:focus {
    outline: dotted $tealDark;
  }
}

.wrapper {
  padding-top: 80px; // height of sticky header
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {
  
  .wrapper {
    padding-top: 86px; // height of sticky header
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .wrapper {
    padding-top: 92px; // height of sticky header
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
