/*** section ***/

/* imports */
@import '../vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.section {
  padding: 80px 0;

  &___noPaddingBottom {
    padding-bottom: 0;
  }
  &___noPaddingTop {
    padding-top: 0;
  }
  &___paddingSmall {
    padding: 40px 0;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .section {
    padding: 100px 0;

    &___noPaddingBottom {
      padding-bottom: 0;
    }
    &___noPaddingTop {
      padding-top: 0;
    }
    &___paddingSmall {
      padding: 50px 0;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .section {
    padding: 120px 0;

    &___noPaddingBottom {
      padding-bottom: 0;
    }
    &___noPaddingTop {
      padding-top: 0;
    }
    &___paddingSmall {
      padding: 60px 0;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
