/* 
  # appSlider #
*/

/* 
  • These styles need to be in the global scss folder since they are not items specifically written out within a components html markup. Css modules will skip over any styles that are not associated with a class that is written out in an associated component.
  • Using the appendDots setting for react-slick is not a viable option in this case because any specified className gets overwritten. Instead I am using the dotsClass setting (dotsClass: 'appCarousel_dots') and writing the styles for that class here.
*/

// * imports *
@import '../vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.appCarousel {

  &_dots {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 80%;

    li,
    li button {
      height: 20px;
      width: 20px;
    }
    li {
      display: inline-block;
      line-height: 0;
      margin: 0 5px;
      position: relative;
    }
    li.slick-active button {

      &::before {
        opacity: 1;
      }
    }
    li button {
      appearance: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 100%;
      color: transparent;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      padding: 5px;
      position: relative;
      transition: border $transitionDefault;

      &:hover {
        
        &::before {
          opacity: 1;
        }
      }
      &:focus {
        border: 1px solid $white;
        outline: none;
      }

      &::before {
        background-color: $white;
        border-radius: 100%;
        content: "";
        height: 10px;
        left: 50%;
        line-height: 20px;
        position: absolute;
        opacity: 0.5;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity $transitionDefault;
        width: 10px;
      }
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .appCarousel {

    &_dots {
      width: 100%;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */


/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
