/*** hero ***/

/* imports */
@import '../../src/styles/scss/vars';

/* keyframe animations */
@keyframes animateArrow {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}

/* ===================================================
  All Screen Sizes
=================================================== */

.hero {
  padding-top: 80px; // height of sticky header

  &_arrow,
  &_scrollLink {
    left: 50%;
    position: absolute;
  }
  &_arrow,
  &_scrollLink {
    height: 40px;
    width: 40px;
  }
  &_arrow {
    fill: $white;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      fill: $white;
    }
  }
  &_content {
    position: relative;
    z-index: 1;
  }
  &_heading,
  &_subheading {

    &___home {
      color: $white;
      text-shadow: rgba(33, 33, 33, 0.65) 2px 2px 10px;
    }
  }
  &_heading {

    &___home {
      padding-bottom: 0;
      padding-top: 100px;
    }
    &___project {
      color: $tealDark;
      margin-bottom: 10px;
    }
  }
  &_scrollLink {
    animation: animateArrow 2s ease-in-out infinite;
    border: 2px solid transparent;
    border-radius: 100%;
    bottom: 40px;
    cursor: pointer;
    transition: border $transitionDefault;
    z-index: 10;

    &:focus {
      border: 1px solid $white;
      outline: none;
    }
  }
  &_subheading {

    &___home {
      padding-bottom: 0;
    }
    &___project {
      font-weight: 400;
      padding-bottom: 30px;
    }
  }
  &_subheadingJob {
    font-weight: 300;
  }
  &_text {
    padding-top: 60px;
  }

  &___home {
    min-height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {
  
  .hero {
    padding-top: 86px; // height of sticky header

    &_heading {

      &___home {
        padding-top: 150px;
      }
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .hero {
    padding-top: 92px; // height of sticky header

    &_heading {

      &___home {
        font-size: 120px;
      }
    }
    &_subheading {

      &___project {
        padding-bottom: 40px;
      }
    }
    &_text {
      padding-top: 80px;
    }

    &___home {
      min-height: 100vh;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .hero {

    &_heading {

      &___home {
        padding-top: 200px;
      }
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
