/*** projects ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.gallery {
  background-color: $offWhite;

  &_container {
    pointer-events: none;

    &:hover {

      .gallery_link:not(:hover) {
        opacity: $opacityDefault;
      }
    }
  }
  &_link {
    border: 3px solid transparent;
    box-shadow: none;
    display: block;
    pointer-events: auto;
    text-decoration: none;
    transition: border $transitionDefault,
                border-radius $transitionDefault,
                box-shadow $transitionDefault,
                opacity $transitionDefault;

    &:focus {
      border: $borderDefault;
      border-radius: 8px 8px 6px 6px;
      box-shadow: $boxShadowDefault;
      outline: none;
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */



/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
