/*
  # projects #
*/

// * imports *
@import '../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.gallery {
  background-color: $offWhite;
  padding-top: 60px;

  &_container {
    pointer-events: none;

    &:hover {

      .gallery_link:not(:hover) {
        filter: $filterDefault;
      }
    }
  }
  &_heading {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &_link {
    border: 3px solid transparent;
    box-shadow: none;
    display: block;
    pointer-events: auto;
    text-decoration: none;
    transform-origin: center;
    transition: border $transitionDefault,
                border-radius $transitionDefault,
                box-shadow $transitionDefault,
                filter $transitionDefault,
                transform $transitionDefault;

    &:hover,
    &:focus {
      transform: scale(1.04);
    }
    &:focus-visible {
      border: $borderDefault;
      border-radius: 8px 8px 6px 6px;
      box-shadow: $boxShadowDefault;
      outline: none;
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .gallery {
    padding-top: 80px;

    &_heading {
      padding-bottom: 10px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {

  .gallery {
    padding-top: 80px;

    &_heading {
      padding-bottom: 10px;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
