/*** location ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.location {
  background-color: $offWhite;

  &_heading,
  &_weather {
    text-align: center;
  }
  &_image {
    display: block;
    margin: 0 auto;
    width: 64px;
  }
  &_temp,
  &_weatherText {
    font-weight: 700;
  }
  &_temp {
    display: inline-block;
    font-size: 40px;
    line-height: 1;
    position: relative;
    right: -6px
  }
  &_weather {
    padding-top: 20px;
  }
  &_weatherCurrent {
    font-weight: 600;
  }
  &_weatherLocation {
    display: block;
    padding-bottom: 5px;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .location {

    &_heading {
      text-align: left;
    }
    &_temp {
      font-size: 48px;
      right: -13px;
    }
    &_weather {
      padding-top: 0;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .location {

    &_temp {
      font-size: 64px;
      right: -11px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .location {

    &_heading {
      width: 85%;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
