/*** location ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.location {
  background-color: $smoke;

  &_heading,
  &_weather {
    text-align: center;
  }
  &_weatherLocation {
    display: block;
    font-weight: 400;
  }
  &_weatherText {
    font-weight: 700;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .location {

    &_heading {
      text-align: left;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */



/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
