/*** hero ***/

/* imports */
@import '../../../src/styles/scss/vars/colors';
@import '../../../src/styles/scss/vars/screen-sizes';

/* keyframe animations */
@keyframes animateArrow {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}
@keyframes animateGradient {
  0% {
    height: 100%;
    width: 100%;
  }
  50% {
    height: 180%;
    width: 180%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

/* ===================================================
  All Screen Sizes
=================================================== */

.hero {
  // animation: animateGradient 15s ease-in-out infinite;
  // background: linear-gradient(135deg, $cyanDark 0%, $cyanLight 33%, $cyanDark 66%, $cyanLight 100%);
  padding-top: 51px; // height of sticky header
  text-align: center;

  &_arrow,
  &_background {
    left: 50%;
    position: absolute;
  }
  &_arrow {
    animation: animateArrow 2s ease-in-out infinite;
    bottom: 40px;
    fill: $white;
    z-index: 10;
  }
  &_background {
    animation: animateGradient 15s ease-in-out infinite;
    background-color: $tealDark;
    background: radial-gradient(circle farthest-side at center center, $tealDark 0%, rgba(0, 77, 64, 0) 100%);
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &_content {
    position: relative;
    z-index: 1;
  }
  &_heading,
  &_subheading {
    color: $white;
    text-shadow: rgba(48, 48, 48, 0.4) 2px 2px 5px;
  }
  &_heading {
    padding-top: 50px;
  }

  &__home {
    background-color: $tealLight;
    min-height: 400px;
    overflow: hidden;
    position: relative;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {
  
  .hero {
    
    &_heading {
      padding-top: 150px;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {
  
  .hero {

    &__home {
      min-height: 100vh;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .hero {
    min-height: 100vh;

    &_heading {
      padding-top: 200px;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
