/*** pagenotfound ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.pagenotfound {
  overflow: hidden;
  padding-top: 80px; // height of sticky header
  position: relative;

  &_container {
    padding: 80px 0;
  }
  &_inner,
  &_link {
    color: $white;
  }
  &_inner {
    background-color: transparent;
    backdrop-filter: blur(40px);
    padding: 50px 0;
    position: relative;
    text-align: center;
    z-index: 1;
  }
  &_link {
    transition: opacity $transitionDefault;
    
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .pagenotfound {
    padding-top: 86px; // height of sticky header

    &_container {
      padding: 150px 0;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .pagenotfound {
    padding-top: 92px; // height of sticky header

    &_inner {
      padding: 70px 0;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .pagenotfound {
    
    &_inner {
      padding: 80px 0;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
