/*
  # contact #
*/

// * imports *
@import '../../../src/styles/scss/vars/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.contact {
  overflow: hidden;
  position: relative;

  &_buttonContainer {
    text-align: center;

    &___paddingBottom {
      padding-bottom: 40px;
    }
  }
  &_container {
    background-color: transparent;
    backdrop-filter: $blurDefault;
    padding: 0 0 50px;
  }
  &_heading,
  &_link {
    position: relative;
  }
  &_heading {
    color: $white;
    min-height: 117px;
    text-align: center;
  }
  &_link {
    background-color: $offWhite;
    color: $teal;
    transition: background-color $transitionDefault,
                color $transitionDefault;
    z-index: 1;

    &:hover,
    &:focus {
      color: $white;
    }
    &:hover {
      background-color: $teal;
    }
    &:focus {
      background-color: $tealDark;
    }
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Screens 371px & Up
=================================================== */

@media screen and (min-width: 371px) {

  .contact {

    &_heading {
      min-height: auto;
    }
  }
}

/* ===================================================
  END Screens 371px & Up
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */



/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .contact {

    &_buttonContainer {

      &___paddingBottom {
        padding-bottom: 50px;
      }
    }
    &_container {
      padding: 0 0 70px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .contact {
    
    &_container {
      padding: 0 0 80px;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
