/*** projects ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.projects {
  
  &_card {

    &:hover,
    &:focus {

      .projects_more {
        color: $tealDark;
      }
    }
  }
  &_heading {
    text-align: center;
  }
  &_more {
    color: $charcoal;
    display: block;
    font-size: 14px;
    padding: 10px 0 20px;
    text-decoration: underline;
    transition: color $transitionDefault;
  }
  &_projectHeading {
    font-weight: 400;
    padding: 20px 0 0;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .projects {

    &_card {
      align-items: stretch;
      display: flex;
      min-height: 100%;
    }
    &_link {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .projects {

    &_more {
      font-size: 16px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */



/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */


/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */



/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
