/*** vars ***/

/* colors */
$blackPure: #000000;
$black: #212121;
$charcoal: #303030;
$gray: #BDBDBD;
$grayDark: #9E9E9E;
$grayLight: #E0E0E0;
$green: #388E3C;
$offWhite: #F5F5F5;
$red: #D32F2F;
$smoke: #E6E5E5;
$teal: #00695C;
$tealDark: #004D40;
$tealLight: #26A69A;
$white: #FAFAFA;
$whitePure: #FFFFFF;


/* screen sizes */
$screen-xs: 0px;
$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1200px;
$screen-xl: 1536px;


/* default values */
$transitionDefault: 0.25s ease-in-out;
