/*** about ***/

/* imports */
@import '../../src/styles/scss/vars';

/* ===================================================
  All Screen Sizes
=================================================== */

.about {
  position: static;

  &_container {
    padding-bottom: 40px;
  }
  &_content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 100%;
  }
  &_image {
    padding-bottom: 40px;
  }
  &_imageImage {
    border-radius: 8px 8px 6px 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
  }
}

/* ===================================================
  END All Screen Sizes
=================================================== */

/* ===================================================
  Small Screens & Up (min-width: 600px)
=================================================== */

@media screen and (min-width: $screen-sm) {

  .about {
    
    &_content {
      padding-bottom: 60px;
    }
    &_image {
      padding-right: 30px;
    }
  }
}

/* ===================================================
  END Small Screens & Up (min-width: 600px)
=================================================== */

/* ===================================================
  Medium Screens & Up (min-width: 900px)
=================================================== */

@media screen and (min-width: $screen-md) {

  .about {

    &_container {
      padding-bottom: 50px;
    }
    &_image {
      padding-right: 60px;
    }
  }
}

/* ===================================================
  END Medium Screens & Up (min-width: 900px)
=================================================== */

/* ===================================================
  Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $screen-lg) {
  
  .about {

    &_container {
      padding-bottom: 60px;
    }
    &_text {
      white-space: nowrap;
    }
  }
}

/* ===================================================
  END Large Screens & Up (min-width: 1200px)
=================================================== */

/* ===================================================
  Extra-Large Screens & Up (min-width: 1536px)
=================================================== */

/* ===================================================
  END Extra-Large Screens & Up (min-width: 1536px)
=================================================== */
